<ion-view title="Boga Delivery">


<ion-nav-bar class="navbar">
	<div class="buttons left-buttons" ng-click="toggleLeft()" style="cursor:pointer">
		<i class="ion-navicon-round" style="color:#fff;margin-top:5px;font-size:20px"></i>
		<img alt="Brand" src="img/boga_icon.png" id="brand" style="height:30px;width:auto;"/>
	</div>

	<ion-nav-buttons side="right">
		<a class="button-clear" ng-hide="logged_in" ng-href="#/login" style="text-decoration:none">
			<i class="ion-person icon-header"> Login</i>
		</a>
			
		<button class="button-clear" ng-click="openPopover($event)" ng-show="logged_in">
			<i class="ion-person icon-header"></i>
		</button>
	</ion-nav-buttons>
</ion-nav-bar>
<ion-content style="background-color:#eee">

<table class="table_checkout">
	<tr>
		<td colspan=2><div class="sum_steps">1</div>Order Summary
	<tr>
		<td>			
		<td>
			<ul class="list list-inset summary">
				<li class="item">Order Amount <span style="float:right">{{totalPrice | currency : "Rp "}}</span></li>
				<li class="item">Tax & Service Charge <span style="float:right">{{tax_service_charge | currency : "Rp "}}</span></li>
				<li class="item">Delivery Fee<span style="float:right">{{delivery_fee | currency : "Rp "}}</span></li>
				<li class="item grand_total">Total Order Amount <span style="float:right">{{totalPrice+tax_service_charge+delivery_fee | currency : "Rp "}}</span></li>
			</ul>
	<tr>
		<td colspan=2><br/><div class="sum_steps">2</div>Delivery Instruction
	<tr>
		<td>			
		<td><div class="list list-inset"><div class="item item-input-inset"><textarea></textarea></div></div>
	<tr>
		<td colspan=2><br/><div class="sum_steps">3</div>Delivery Address
	<tr>
		<td>
		<td>
	<tr>
		<td colspan=2><br/><div class="sum_steps">4</div>Payment Method
	<tr>
		<td>			
		<td>
			<div class="card"><div class="item item-text-wrap"><strong>Cash On Delivery</strong></div></div>
</table>
<div class="padding">
	<div class="button-bar "><button class="button button-assertive">Place Order</button></div>
</div>
</ion-content>
</ion-view>