<ion-view title="Boga Delivery">

<ion-nav-bar class="navbar">
	<div class="buttons left-buttons" ng-click="toggleLeft()" style="cursor:pointer">
		<i class="ion-navicon-round" style="color:#fff;margin-top:5px;font-size:20px"></i>
		<img alt="Brand" src="img/boga_icon.png" id="brand" style="height:30px;width:auto;"/>
	</div>

	<ion-nav-buttons side="right">
		<a class="button-clear" ng-hide="logged_in" ng-href="#/login" style="text-decoration:none">
			<i class="ion-person icon-header"> Login</i>
		</a>
			
		<button class="button-clear" ng-click="openPopover($event)" ng-show="logged_in">
			<i class="ion-person icon-header"></i>
		</button>
	</ion-nav-buttons>
</ion-nav-bar>


<ion-content  style="background-color:#eee">

	<div style="width:100%;float:left;text-align:center;margin-top:25px;float:left">
		<img src="img/boga_logo.png" style="width:200px;"/>
	</div>
	<div class="find_loc">
		<div class="find_circle">
			<div class="find_nearby" ng-click="toMap()">
				<i class="icon ion-navigate"></i>
			</div>
			<div style="float:left;width:100%;text-align:center;margin-top:10px;font-weight:bold;font-size:18px">
				Find Nearby<br/>
			Restaurant</div>
		</div>
	</div>
	<div class="find_loc">
		or
		<br/><br/>
		<button class="button button-assertive" style="background-color:#c41920;font-size:12px;font-weight:bold"><i class="icon ion-marker"></i> Tell us your location</button>
	</div>



	<div class="find_loc" style="background-color:transparent">
		<div style="font-size:12px;font-weight:bold;color:#c41920;">2014. Boga Group</div>
	</div>

</ion-content>
</ion-view>